* {
  margin: 0px;
  padding: 0px;
}
#container {
  background-color: #ededed;
  width: 1300px;
  margin: auto;
  box-shadow: 10px 10px 15px black;
}

#container header {
  width: 100%;
  height: 170px;
}

#container header img {
  float: left;
  margin: 10px;
  width: 20%;
}

#container nav ol li a {
  text-decoration: none;
}

#container nav ol li a:hover {
  color: white;
}

#container header h1 {
  text-align: center;
  padding-top: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: Tahoma, Arial;
  height: 90px;
}

#container header nav ol {
  list-style-type: none;
  text-align: center;
  width: 100%;
}

#container header nav ol li {
  width: 130px;
  display: inline-block;
}

#container section {
  width: 100%;
  height: 600px;
}

#container section nav {
  width: 130px;
  float: left;
}

#container section h1 {
  padding: 7px;
  text-align: center;
  font-size: 25px;
}

#container section ol {
  list-style-type: none;
  text-align: center;
}

#container section ol li {
  padding: 10px;
  border-bottom: solid 1px black;
}

#container section ol li:hover {
  background-color: aliceblue;
}

#container footer {
  text-align: center;
  background-color: #bfbfbf;
}

#container section #iframeContainer {
  float: left;
  width: 1000px;
  height: 100%;
}

#container section #iframeContainer iframe {
  width: 100%;
  height: 100%;
  border: 0px;
}

article header h1 {
  font-size: 40px;
  text-align: center;
  font-family: Tahoma, Arial;
}

article p {
  font-size: 20px;
  text-align: left;
  color: blue;
  font-family: Tahoma, Arial;
  margin: 10px;
}

article nav ol li {
  display: inline;
  font-size: 20px;
  text-align: left;
  color: blue;
  font-family: Tahoma, Arial;
  margin: 10px;
}
article nav ol li a {
  text-decoration: none;
}

.formatterImg {
  float: left;
  margin: 10px;
  width: 20%;
}

#home #firstArticle {
  margin-bottom: 50px;
  height: 50%;
}

#home #secondArticle #firstSection{
  float: left;
  width: 49%;
  height: 100%;
  background-color: grey;
  margin-lef: 4px;
}

#home #secondArticle #firstSection footer a {
  text-decoration: none;
  font-weight: normal;
}
#home #secondArticle #firstSection footer a:hover {
  text-decoration: underline;
  font-weight: bold;
}

#home #secondArticle #secondSection footer a {
  text-decoration: none;
  font-weight: normal;
}
#home #secondArticle #secondSection footer a:hover {
  text-decoration: underline;
  font-weight: bold;
}

#home #secondArticle #secondSection{
  float: right;
  width: 49%;
  height: 100%;
  background-color: #bfbfbf;
}
.home {
  width: 800px;
  height: 400px;
  background-color: #acacac;
  margin: 30px auto;
}
.canvas {
  box-sizing: border-box;
  background: #0578bc;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
